<div class="content content_child_5">
    <ul>
        <li>
            <div class="certificates" id="python_001">
                <div>
                    <a href="https://drive.google.com/file/d/1OlpZsE3XPbtz7WCg1Y84fXc5wEPKo5HX/view?usp=drive_link">
                        <button>view credential</button>
                    </a>
                </div>
                
                
            </div>
        </li>
        <li>
           <div class="certificates" id="python_002">
                <div>
                    <a href="https://drive.google.com/file/d/1sAE4DELe1rJakRPH4MYVIaOi9A4sfGZl/view?usp=drive_link">
                        <button>view credential</button>
                    </a>
                </div>
           </div> 
        </li>
        <li>
            <div class="certificates" id="git">
                <div>
                    <a href="https://drive.google.com/file/d/1PjHodQjTt44GkKH7TiEnnV6TbjFWq5TY/view?usp=drive_link">
                        <button>view credential</button>
                    </a>
                </div>
            </div>
        </li>
        <li>
            <div class="certificates" id="soft_eng">
                <div>
                    <a href="https://drive.google.com/file/d/1GJSxPtdly7--nVrJlA0TOdNNc4M5XoQP/view?usp=drive_link">
                        <button>view credential</button>
                    </a>
                </div>
            </div>
        </li>
        <li>
            <div class="certificates" id="linux">
                <div>
                    <a href="https://drive.google.com/file/d/1ux2O3hqB4jlNoAhmfBY8hhE9KRv2UOOc/view?usp=drive_link">
                        <button>view credential</button>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>